@media screen and (max-width: 768px){
 
    :root {
        --product-row-count: 2;
      }
     
}

@media screen and (max-width: 425px) {
    :root {
        --product-row-count: 1;
      }

      .text-price {
        font-size: 15px;
      }

      i{
       display: none;
      }

      
}
