@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    
}
.container{
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
}
.navlogo img{
    width: 80px;
    padding: 10px 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.navmenu{
    display: flex;
    align-items: center;
   gap: 60px;
   font-family: "Josefin Sans", sans-serif;
}
.navlink ul{
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
  
}

.button{
  
    padding: 20px 30px;
    background-color: rgb(255, 200, 0);
    color: aliceblue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
    
    

}

.button a{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
}

.container-content{
    width: 50%;
    max-width: 70%;
    margin: 0 auto;
}
.animation-area{
    text-align: center;
    padding: 50px 0px;    
    font-family: "Josefin Sans", sans-serif;
    color: #00095E;
}

.text-area{
    padding: 50px 0px;
    line-height: 1.2;
    height: calc(100vh - 300px);
}
.text-area h1 dd{
    position: relative;
    display: inline-block;
 
}
.text-area h1 dd::after{
content: "";
position: absolute;
width: 97%;
height: 15px;
justify-content: center;
background-color: #d9bb10;
display: inline-block;
text-align: center;
left: 8px;
z-index: -1;
bottom: 15px;
}
.animation-area h1{
    font-size: 60px;
    letter-spacing: 4px;
    word-spacing: 8px;
}

.animation-area p{
    font-size: 20px;
    margin-bottom: 50px;
}
.btn{
    background: linear-gradient(to bottom, #00095e 0%, #0c0c1f 100%);
    padding: 20px 35px;
    color: aliceblue;
    border-radius: 5px;
}

.animation{
    background-image: url("https://preview.colorlib.com/theme/tralive/assets/img/hero/h1_hero1.png.webp");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: -50px;
    height: 800px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bus img{
    width: 60%;
    animation-name: bus;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  position: absolute;
    bottom:0px;
}
@keyframes bus{
    from{
        transform: translateX(2em);
    }
    to{
        transform: translateX(10em);
    }
   
}

.animation img{
    position: absolute;
    width: 700px;
    bottom: 100px;
}

.products{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--product-gap);
    width: 100%;
    padding: 100px 50px;
    position: relative;
}
:root {
    --product-gap: 30px;
    --product-row-count: 2;
  }

.product{
    width: calc((100% - var(--product-gap)) / var(--product-row-count) );
    background-color: antiquewhite;
    overflow: hidden;
    position: relative;
    box-shadow: -4px 1px 20px 2px rgba(154, 168, 179, 0.75);
    -webkit-box-shadow: -4px 1px 20px 2px rgba(154, 168, 179, 0.75);
    -moz-box-shadow: -4px 1px 20px 2px rgba(154, 168, 179, 0.75);
    width: calc((100% - var(--content-image-gap))/2 );
    font-family: "Josefin Sans", sans-serif;
    z-index: 1;

    
}

.product .prod-img{
    height: 90%;
    overflow: hidden;
}
.product .prod-img img:hover {
    transform: scale(1.2); 

  }
.price{
    display: flex;
    align-items: center;
 justify-content: space-around;
    padding: 10px 0px;

}
.text-price{
    height: 10%;
}


.price h1, .date p{
    color: #00095E;
}
.price p, .date h3{
    color: rgb(17, 114, 156);
}


.date{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    
}

.icons{
    width: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
   font-size: 40px;
   z-index: 2;
}

#left, #right{
   
    width: 60px;
    text-align: center;

}